In [15]:
import pandas as pd
import requests
from bs4 import BeautifulSoup as bs
import os

In [16]:
df=pd.read_csv('city_of_los_angeles-addresses-city - city_of_los_angeles-addresses-city.csv',sep=',')
df.head()

                  Street Unit City  Zipcode  Unnamed: 4
0       14707 W SUNNY DR  NaN  NaN  91342.0         NaN
1  16057 W COLUMBUS LANE  NaN  NaN  91343.0         NaN
2  16068 W COUSTEAU LANE  NaN  NaN  91343.0         NaN
3   1027 W MIGNONETTE ST  NaN  NaN  90012.0         NaN
4      16058 W COOK LANE  NaN  NaN  91343.0         NaN

In [17]:
df1=df.dropna(subset=["Street","Zipcode"])
df1

                       Street Unit City  Zipcode  Unnamed: 4
0            14707 W SUNNY DR  NaN  NaN  91342.0         NaN
1       16057 W COLUMBUS LANE  NaN  NaN  91343.0         NaN
2       16068 W COUSTEAU LANE  NaN  NaN  91343.0         NaN
3        1027 W MIGNONETTE ST  NaN  NaN  90012.0         NaN
4           16058 W COOK LANE  NaN  NaN  91343.0         NaN
...                       ...  ...  ...      ...         ...
997765     1900 S CENTRAL AVE  NaN  NaN  90011.0         NaN
997766        14926 W VOSE ST  NaN  NaN  91405.0         NaN
997767      703 N MCCADDEN PL  NaN  NaN  90038.0         NaN
997768   9727 W OAK PASS ROAD  NaN  NaN  90210.0         NaN
997769    3103 W BELLEVUE AVE  NaN  NaN  90026.0         NaN

[996322 rows x 5 columns]

In [18]:
df['full_address']=df1['Street']+', Los Angeles, CA '+df1["Zipcode"].astype(int).astype(str)
df['full_address']

0              14707 W SUNNY DR, Los Angeles, CA 91342
1         16057 W COLUMBUS LANE, Los Angeles, CA 91343
2         16068 W COUSTEAU LANE, Los Angeles, CA 91343
3          1027 W MIGNONETTE ST, Los Angeles, CA 90012
4             16058 W COOK LANE, Los Angeles, CA 91343
                              ...
997765       1900 S CENTRAL AVE, Los Angeles, CA 90011
997766          14926 W VOSE ST, Los Angeles, CA 91405
997767        703 N MCCADDEN PL, Los Angeles, CA 90038
997768     9727 W OAK PASS ROAD, Los Angeles, CA 90210
997769      3103 W BELLEVUE AVE, Los Angeles, CA 90026
Name: full_address, Length: 997770, dtype: object

In [19]:
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.common.exceptions import StaleElementReferenceException

In [21]:
driver=webdriver.Chrome('/Users/weiqianzhang/desktop/chromedriver')
driver.get('https://www.cox.com/residential/internet.html')
for i in df['full_address']:
    driver.find_element_by_xpath("//*[@id='address-form']/input[1]").send_keys(i)
    driver.find_element_by_xpath("//*[@id='address-form']/button").click()

/var/folders/n7/vb4bldt50418yrp_8tvrkwvr0000gn/T/ipykernel_65500/3133407069.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome('/Users/weiqianzhang/desktop/chromedriver')
/var/folders/n7/vb4bldt50418yrp_8tvrkwvr0000gn/T/ipykernel_65500/3133407069.py:4: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  driver.find_element_by_xpath("//*[@id='address-form']/input[1]").send_keys(i)
/var/folders/n7/vb4bldt50418yrp_8tvrkwvr0000gn/T/ipykernel_65500/3133407069.py:5: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  driver.find_element_by_xpath("//*[@id='address-form']/button").click()

AttributeError: 'NoneType' object has no attribute 'click'